<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dinas ketahanan pangan bolaang mongondow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logobolmong.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logobolmong.png" alt="">
        <span>DKP BOLMONG</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="index.html">Beranda</a></li>
          <li class="dropdown"><a href="#"><span>Profil</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="sambutan.html">Sambutan Kepala Dinas</a></li>
              <li><a href="tugasfungsi.html">Tugas dan Fungsi</a></li>
              <li><a href="strukturorganisasi.html">Struktur Organisasi</a></li>
              <li><a href="visimisi.html">Visi dan Misi</a></li>
            </ul>
          </li>
          <li><a href="berita.html">Berita</a></li>
          <li><a href="agenda.html">Agenda</a></li>

          <li class="dropdown"><a href="#"><span>Informasi</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="sekretariat.html">Sekretariat</a></li>
              <li><a href="bidangdistribusi.html">Bidang Distribusi</a></li>
              <li><a href="bidangkonsumsi.html">Bidang Konsumsi</a></li>
              <li><a href="bidangketersediaan.html">Bidang Ketersediaan</a></li>
            </ul>
          </li>
          <li><a href="galeri.html">Dokumentasi</a></li>
          <li><a href="kontak.html">Kontak</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="berita.html">Berita</a></li>
          <li>Berita detail</li>
        </ol>
        <h2>Berita detail</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= berita detail Section ======= -->
    <section id="berita" class="berita">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-detail">

              <div class="entry-img">
                <img src="assets/img/berita/beritadkp1.jpg" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="berita-detail.html">Sekda Tahlis Kembali Serahkan Bantuan Pangan Desa, Penerima Kedua Ini di Desa Konarom</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="berita-detail.html">Admin</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="berita-detail.html"><time datetime="2020-01-01">26 Maret 2021</time></a></li>
                </ul>
              </div>

              <div class="entry-detail">
                <p>
                  MONGONDOW.CO, Bolmong –  Setelah penyerahan lumbung pangan desa kepada pengurus kelompok tani Koyayang Desa Solimandungan Baru kecamatan Bolaang. Kedua ini  Sekretaris Daerah (Sekda) Kabupaten Bolaang Mongondow Tahlis Gallang kembali menyerahkan bantuan secara simbolis kepada pengurus kelompok tani Tapak Binuni desa Konarom kecamatan Dumoga tenggara, Kamis, (25/03/2021).
                  <br><br>
                  Penyerahan secara simbolis tersebut  didampingi Kepala Dinas Ketahanan Pangan, Pimpinan Perum Bulog,Camat Dumoga Tenggara, Sangadi Konarom Serta disaksikan seluruh pengurus kelompok.

                  Dalam sambutan Sekertaris Daerah Kabupaten Bolaang Mongondow Tahlis Gallang  memberikan apresiasi pada kegiatan pengisian lumbung pangan desa.
                  <br><br>
                  Ia meminta kepada kelompok tani bahwa bantuan lumbung pangan di  wilayah untuk mengantisipasi musim paceklik yang berdampak pada akses pangan dan stabilitas harga.

                  “Saya harap kegiatan ini untuk dikelola dan dimanfaatkan dengan baik  demi kesejahteraan masyarakat yang ada diwilayah,” kata Sekda Tahlis.
                  <br><br>
                  Dia pun mengucapkan, terima kasih juga disampaikan kepada jajaran Pimpinan Perum Bulog yang telah berkolaborasi dengan Dinas Ketahanan Pangan sehubungan dengan pelaksanaan kegiatan ini.

                  Sementara itu, Kepala Dinas Ketahanan Pangan Bolmong I Nyoman Sukra mengatakan Penyerahan bantuan pengisian lumbung pangan desa pada kegiatan penyediaan pangan berbasis sumber daya lokal yang tertata dalam APBD Dinas Ketahanan Pangan Kabupaten Bolaang Mongondow tahun anggaran 2021.
                  “kegiatan ini hasil kerja sama antara perum Bulog dan Dinas Ketahanan Pangan,” ujar Tahlis.
                  <br><br>
                  Lebih lanjut dia menyebutkan Kelompok penerima bantuan pengisian lumbung pangan desa hasil musrembang kabupaten Bolaang Mongondow adalah Kelompok Tani  (Poktan) Koyayang Desa Solimandungan Baru kecamatan Bolaang, Poktan Mandiri kecamatan Poigar dan Poktan Tapa Binuni kecamatan Dumoga Tenggara  dengan masing masing bantuan 5000 kilo gram beras perkelompok.
                  <br><br>
                  Hari kedua kamis 25 maret 2021 Penyerahan bantuan pengisian lumbung pangan desa pada kegiatan penyediaan pangan berbasis sumber daya lokal yang tertata dalam Apbd Dinas Ketahanan Pangan Kabupaten Bolmong  tahun anggaran 2021 hasil kerja sama antara perum Bulog dan Dinas Ketahanan Pangan

                  Kelompok penerima bantuan pengisihan lumbung pangan desa masing masing bantuan 5000 kilo gram beras perkelompok. (*).

              </p>
              </div>

              <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  <li><a href="#">Umum</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <li><a href="#">Umum</a></li>
                </ul>
              </div>

            </article><!-- End berita entry -->

          </div><!-- End berita entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Cari</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Kategori</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a href="#">Umum <span>(0)</span></a></li>
                  <li><a href="#">Khusus <span>(4)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Lainnya</h3>
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                  <img src="assets/img/berita/beritadkp2.jpg" alt="">
                  <h4><a href="berita-detail.html">Perkuat Ketahanan Pangan Ditingkat Wilayah, Pemkab Bolmong Salurkan Bantuan Pengisian Lumbung Pangan Desa</a></h4>
                  <time datetime="2020-01-01">24 Maret 2021</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/berita/beritadkp3.jpg" alt="">
                  <h4><a href="berita-detail.html">DKP Pastikan Cadangan Pangan di Bolmong Aman</a></h4>
                  <time datetime="2020-01-01">11 November 2020</time>
                </div>

                <div class="post-item clearfix">
                  <img src="assets/img/berita/beritadkp4.jpg" alt="">
                  <h4><a href="berita-detail.html">DKP Bolmong Salurkan Bantuan Cadangan Pangan</a></h4>
                  <time datetime="2020-01-01">28 Februari 2020</time>
                </div>

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">Umum</a></li>
                  <li><a href="#">Khusus</a></li>
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End berita sidebar -->

        </div>

      </div>
    </section><!-- End berita detail Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
 <section id="footer" className="text-center">


  <div className="container">
    <div className="row">
      <div className="col-md-12 col-sm-6 col-xs-12">
      <p>Dinas Ketahanan Pangan Kabupaten Bolaang Mongondow</p>
        <p className="copyright-text">Copyright &copy; 2021 by  <a href="#"> E-Government</a> Diskominfo</p>
      </div>
    </div>
  </div>
  
</section>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!--Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>