<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dinas ketahanan pangan bolaang mongondow</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logobolmong.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!--Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logobolmong.png" alt="">
        <span>DKP BOLMONG</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="index.html">Beranda</a></li>
          <li class="dropdown"><a href="#"><span>Profil</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="sambutan.html">Sambutan Kepala Dinas</a></li>
              <li><a href="tugasfungsi.html">Tugas dan Fungsi</a></li>
              <li><a href="strukturorganisasi.html">Struktur Organisasi</a></li>
              <li><a href="visimisi.html">Visi dan Misi</a></li>
            </ul>
          </li>
          <li><a href="berita.html">Berita</a></li>
          <li><a href="agenda.html">Agenda</a></li>

          <li class="dropdown"><a href="#"><span>Informasi</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="sekretariat.html">Sekretariat</a></li>
              <li><a href="bidangdistribusi.html">Bidang Distribusi</a></li>
              <li><a href="bidangkonsumsi.html">Bidang Konsumsi</a></li>
              <li><a href="bidangketersediaan.html">Bidang Ketersediaan</a></li>
            </ul>
          </li>
          <li><a href="galeri.html">Dokumentasi</a></li>
          <li><a href="kontak.html">Kontak</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Bidang Ketersediaan</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Bidang Ketersediaan</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="content" class="content">
      <div class="container">

        <h3>BIDANG KETERSEDIAAN</h3>
        <div class="logodetail">
          <img src="assets/img/logobolmong.png" alt="">
        </div>
        <p>  
          Sekretariat  yang merupakan unsur pembantu dan pelaksana pelayanan teknis di bidangn Sekretariat mempunyai tugas pokok melaksanakan koordinasi penyusunan program, pengelolaan urusan keuangnan, kepegawaian, rumah tangga kantor, perlengkapan, memberian dukungan administrasi kepada seluruh unsur organisasi di lingkungan Dinas pangan dan pengelolaan barang milik Daerah dan evaluasi dan pelaporan dan menerapkan prinsip koordinasi, integrasi, sinkronisasi dan simplikasi baik dalam lingkungan kerja masing-masing maupun antar satuan organisasi sesuai dengan ruang lingkup bidang tugasnya masing-masing.

          Sekretariat dipimpin oleh sekretaris yang berada di bawah dan bertanggung jawab langsung kepada Kepala Dinas.
          
          Sekretariat membawahkan sub bagian yang dipimpin oleh sub bagian dan bertanggung jawab langsung kepada sekretaris. <br>
          
          
          Dalam menyelenggarakan tugas pokok, Sekretariat mempunyai fungsi antara lain : <br><br>

          1.        penyusunan dan pelaksanaan rencana program dan kegiatan kesekretariatan;<br>
          2.        pengoordinasian penyusunan dokumen Sistem Akuntabilitas Kinerja Instansi Pemerintah;<br>

          3.        pengoordinasian  penyusunan  dan  pelaksanaan  Rencana  Kerja  Anggaran dan Dokumen Pelaksanaan Anggaran;<br>

          4.        pelaksanaan dan pembinaan ketatausahaan, ketatalaksanaan dan kearsipan;<br>

          5.        pengelolaan urusan kehumasan, keprotokolan, kepustakaan, dan layanan informasi dan pengaduan ;<br>

          6.        pelaksanaan administrasi dan pembinaan kepegawaian;<br>

          7.        pengelolaan anggaran Dinas; <br>

          8.        pelaksanaan administrasi keuangan dan pembayaran gaji pegawai;<br>

          9.        pelaksanaan verifikasi Surat Pertanggungjawaban keuangan;<br>

          10.     pengelolaan urusan rumah tangga dan perlengkapan;<br>

          11.     fasilitasi penyusunan dan pelaksanaan Standar Operasional Prosedur (SOP), Standar Pelayanan Minimal (SPM), Standar Pelayanan Publik (SPP), Maklumat Pelayanan dan Survey Kepuasan Masyarakat (SKM);<br>

          12.     pelaksanaan Survei Kepuasan Masyarakat/pelanggan;<br>

          13.     pengelolaan pengaduan masyarakat sesuai tugas fungsi Dinas;<br>

          14.     pengelolaan informasi dan dokumentasi dan pelaksanaan fungsi Pejabat Pengelolaan  Informasi  dan  Dokumentasi  Pembantu  ;<br>

          15.     pengoordinasian pengelolaan data, pengembangan sistem teknologi informasi/ aplikasi untuk aplikasi yang digunakan lintas bidang pada Dinas;<br>

          16.     pengevaluasian dan pelaporan pelaksanaan tugas dan fungsi;<br>

          17.     pelaksanaan sistem pengendalian intern pemerintahan; dan<br>

          18.     pelaksanaan tugas lainnya yang diberikan oleh atasan/pimpinan sesuai dengan ketentuan peraturan perundang-undangan.  <br>
        </p>

      </div>
    </section><!-- End content Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <section id="footer" className="text-center">


    <div className="container">
      <div className="row">
        <div className="col-md-12 col-sm-6 col-xs-12">
        <p>Dinas Ketahanan Pangan Kabupaten Bolaang Mongondow</p>
          <p className="copyright-text">Copyright &copy; 2021 by  <a href="#"> E-Government</a> Diskominfo</p>
        </div>
      </div>
    </div>
    
  </section>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!--Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>